*, *::before, *::after{
    box-sizing: border-box;
    /* max-width: 1750px;
    text-align: center; */
}
header {
    background-image: url(./images/veggies-banner.png);
    background-position: center;
    background-size: cover;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#title {
    font-family: Lobster, 'Times New Roman', Courier;
    font-size: 5vw;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 10px green, 0 0 5px darkgreen;
    height: auto;
}
.georgia-font {
    font-family: Georgia, 'Times New Roman', serif;
}
.cursive-font {
    font-family: cursive, 'Times New Roman', serif;
}
.marcellus-font {
    font-family: "Marcellus SC", serif;
}
#mission {
    background-color:snow;
    color: darkgreen;
}
.events {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    max-height: 400px;
    /* margin: 5px !important; */
    
}
.event {
    border: 3px green solid;
    border-radius: 20px;
    background-color: rgb(130, 215, 188);
}
.day {
    color: black;
    font-size: 3vw;
    font-weight: 500;
    background-color: snow;
    border-radius: 20px;
}
.day:hover {
    transform: scale(1.05);
}
.parallax-1 {
    background-image: url(./images/current/ffa.jpeg);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#history {
    background-color: snow;
    min-height: 700px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: auto;
    gap: 10px;
    max-width: 75%;
}
.hist1, .hist5, .hist6, .hist9 {
    border: 3px groove hsl(235, 91%, 45%);
    border-radius: 20px;
    padding: 10px;
    background-color: hsla(235, 91%, 45%, 0.2);
}
.hist3, .hist7 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: xx-large;
    text-align: start;
}
.hist4, .hist8 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: xx-large;
    text-align: end;
}
.hist2 {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    border: 3px solid hsl(235, 91%, 45%);
    background: linear-gradient(
        180deg,
        hsl(235, 91%, 45%),
        hsl(263, 6%, 25%),
        hsl(235, 91%, 45%)
      /*hsl(263, 6%, 25%),
        hsl(8, 82%, 78%),
        hsl(263, 6%, 25%),
        hsl(8, 82%, 78%) */
    );
    border-radius: 20px;
}
#volunteers {
    height: 5px;
    background-color: snow;
}
footer {
    background-image: url(./images/backgrounds/vintage-wallpaper.webp);
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgb(20, 17, 238);
}
.contact {
    list-style-type: none;
}
@media screen and (max-width: 768px) {
    header {
      position: relative !important;
    }
    .parallax-1 {
        min-height: 0px;
    }
}