*, *::before, *::after{
    box-sizing: border-box;
}
header {
    background-image: url(./images/veggies-banner.png);
    background-position: center;
    background-size: cover;
}
#title {
    font-family: Lobster, 'Times New Roman', Courier;
    font-size: 60px;
    color: white;
    padding-left: 55px;
    text-align: left;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    height: 85px;
}
.georgia-font {
    font-family: Georgia, 'Times New Roman', serif;
}
.cursive-font {
    font-family: cursive, 'Times New Roman', serif;
}
.banner {
    /* background-color: rgba(135, 206, 250, 50%);*/
    background: linear-gradient(
        180deg,
        hsl(37, 92%, 85%),
        hsl(0, 100%, 85%),
        hsl(37, 92%, 85%)
    );
}
.events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
}
.event {
    width: 30%;
    text-align: center;
    border: 2px indigo solid;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
}
.tu {
    background-image: url(./images/shelf-with-jars.jpeg);
    background-size: cover;
}
.parallax-1 {
    background-image: url(./images/blueprint.jpeg);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#history {
    background-color: white;
    height: 700px;
}
.house {
    float: left;
}
footer {
    height: 500px;
    background-color: lightblue; 
}
/* .menu {
    position: sticky;
}
.menu-p {
    position: relative;
} */
/* .nav {
    display: inline;
    list-style-type: none;
    margin: auto;
}
.nav a {
    color: white;
    font-size: 20px;
    background-color: burlywood;
    padding: 10px 30px 10px 30px;
    margin: 3px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
}
a:hover {
    color: burlywood;
    background-color: white;
}
#stats {
    color: white;
}
.social {
    display: inline;
    list-style-type: none;
    margin: 10px 10px 0 0;
}
#mission {
    height: 200px;
    background-color: tan;
    text-align: center;
    position: fixed;
    right: 300px;
    bottom: 200px;
}
 */

